.body{
  background-color:#68bd4a;
  height: 100vh;
}

.card {
  max-width: 400px; /* Set a maximum width for the card */
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
}

.container {
  height: 75vh;
}

.button{
  width: 100%;
  background-color: #00b241;
  color: #f2f2f2;
}

input.form-control{
  background-color: #f2f2f2;
}

a.btn{
  color: #05b243;
}

.is-invalid{
  border-color: #dc3545;
}
